/* VARIABLES & FONTS */
/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 247, 251);
  color: rgb(130, 132, 144);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: rgb(65, 69, 81);
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(65, 69, 81);
  margin-bottom: 10px;
  line-height: 1.4;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(130, 132, 144);
  line-height: 1.4;
  margin-bottom: 10px;
}
p a {
  font-size: 14px;
  font-weight: 400;
  color: rgb(130, 132, 144);
  line-height: 1.4;
}
p a:hover {
  color: rgb(71, 135, 239);
}

::-moz-placeholder {
  color: rgb(130, 132, 144);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  opacity: 0;
}

::placeholder {
  color: rgb(130, 132, 144);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  opacity: 0;
}

input:focus:not(:-moz-placeholder-shown) {
  background-color: rgb(233, 235, 243);
  border-radius: 30px;
  border: none;
  color: rgb(65, 69, 81);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  width: 250px;
}

input,
input:focus,
input:focus:not(:placeholder-shown) {
  background-color: rgb(233, 235, 243);
  border-radius: 30px;
  border: none;
  color: rgb(65, 69, 81);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  transition: width 0.3s;
  width: 250px;
}

input:not(:focus):-moz-placeholder-shown {
  background-image: url(../assets/magnifying-glass-solid.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

input:not(:focus):placeholder-shown {
  background-image: url(../assets/magnifying-glass-solid.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

.page {
  display: grid;
  gap: 20px;
  grid-template: max-content 100vh/max-content minmax(600px, 1fr);
}

.h-divider {
  background-color: rgb(219, 221, 231);
  height: 1px;
  width: 100%;
}

/* HEADER */
.header {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  display: grid;
  grid-template: max-content/1fr max-content;
  padding: 15px 20px 15px 30px;
  margin-top: 20px;
  gap: 20px;
  overflow: hidden;
}
.header .header-links {
  align-items: center;
  display: flex;
  gap: 20px;
}
.header .header-links a {
  color: rgb(130, 132, 144);
  text-decoration: none;
}
.header .header-links a:hover {
  color: rgb(71, 135, 239);
}
.header .header-links a:visited {
  color: rgb(130, 132, 144);
}
.header .header-options {
  align-items: center;
  display: flex;
  gap: 20px;
}
.header .header-options .divider {
  background-color: rgb(219, 221, 231);
  height: 100%;
  width: 1px;
}
.header .header-options .alerts {
  background-image: url(../assets/bell-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}
.header .header-options .avatar {
  background-color: rgb(65, 69, 81);
  background-image: url(../assets/IMG_0804.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120% 120%;
  border-radius: 50%;
  border: 1px solid rgb(130, 132, 144);
  height: 40px;
  width: 40px;
}

/* SIDEBAR */
.sidebar {
  background-color: rgb(26, 26, 33);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  grid-area: 1/1/5/1;
  padding: 30px 30px 30px 20px;
  gap: 25px;
}
.sidebar .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .logo-container img {
  max-width: 50px;
  max-height: auto;
  transform: rotate(-15deg);
}
.sidebar .logo-container p {
  color: white;
  font-size: 22px;
  font-weight: 400;
  padding-top: 6px;
}
.sidebar i {
  width: 30px;
  margin: 0px 10px 0px 0px;
}
.sidebar a {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  color: rgb(130, 132, 144);
  padding-left: 10px;
  text-decoration: none;
}
.sidebar a:hover {
  color: rgb(71, 135, 239);
}
.sidebar .top-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sidebar .bottom-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sidebar .h-divider {
  background-color: rgb(64, 64, 74);
}

/* MAIN */
.main {
  display: grid;
  gap: 20px;
  grid-area: 2/2/5/4;
  grid-template: max-content/1fr 265px;
  margin-bottom: 50px;
}
.main .section-title {
  color: rgb(65, 69, 81);
  font-size: 22px;
  font-weight: 400;
  grid-column: 1/11;
  margin: 35px 30px 15px 5px;
}

.projects .section-title {
  padding-bottom: 10px;
}
.projects .project-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
}
.projects .project-grid .project-card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  display: grid;
  gap: 10px;
  grid-template-rows: max-content 1fr max-content;
  padding: 30px;
  transition: all 0.4s;
}
.projects .project-grid .project-card:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s;
  outline: 2px solid lightblue;
}
.projects .project-grid .project-card .project-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 20px;
  overflow: hidden;
}
.projects .project-grid .project-card .card-controls {
  display: flex;
  gap: 15px;
  justify-content: right;
  margin-top: 10px;
}
.projects .project-grid .project-card .card-controls .card-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.news {
  display: grid;
  gap: 10px;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
}
.news p:last-child {
  margin-bottom: 0;
}

.announcements,
.trending {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  display: grid;
  gap: 20px 15px;
  grid-template-rows: 1fr;
  padding: 30px;
}

.trending {
  grid-template-columns: max-content 1fr;
}
.trending .trending-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 55px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 55px;
}
.trending .h-divider {
  grid-column: 1/-1;
}

/* FOOTER */
.footer {
  grid-area: 5/1/5/4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(65, 69, 81);
}
.footer p {
  margin-bottom: 0;
  font-size: 1rem;
}
.footer i {
  color: rgb(65, 69, 81);
  font-size: 1.2rem;
}/*# sourceMappingURL=index.css.map */